<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap" rel="stylesheet"> 
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../createstyle.css">    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <title>tvshowa</title>
</head>
<body>
   <div class="container">
         <div class="Box">  
            <h1 >New Post</h1>
            <form action="/tvshows" method="POST">
            <div class="form-group">
                
                <input type="text" name="post[title]" class="form-control"  placeholder="Name">
            </div>
            <div class="form-group">

                <input type="text" name="post[image]" class="form-control"  placeholder="image">
            </div>
            <div class="form-group"> 
                <textarea type="text"  name="post[description]" class="form-control" placeholder="description" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-secondary btn-md btn-block">Submit</button>
          </form>
    </div>   
   </div>


<%- include('../layouts/footer'); -%>
